{% extends 'base.html.twig' %}

{% block title %}Mon Compte StyleAfrica{% endblock %}

{% block content %}
<h1>Mon Compte</h1>

<hr>
{% if is_granted ('ROLE_ADMIN') %}
<a href="/admin">Vous etes un Administrateur, Acceder au Backoffice</a><br/>
{% endif %}

<a href="{{path('account_passwo')}}">Modifier Mon mot de passe</a><br/>
<a href="{{path('account_address')}}">Gerer mes Adresses</a><br/>

<hr>

{% endblock %}
