body {
  position: relative;
}
.navbar-item-customiser a {
  color: white;
}

.footer-customiser {
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #ef476f;
  padding-top: 23px;
  padding-bottom: 5px;
  margin-top: 50px;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-prix {
  font-size: 15px;
  font-weight: bold;
  background-color: #ef476f;
  border-radius: 3px;
}

.product-item {
  margin-top: 50px;
}

.product-container {
  margin-bottom: 130px;
}
.product-seul {
  font-size: 25px;
}

.product-item img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 270px;
}

.cart-icon {
  height: 20px;
  padding-left: 20px;
}

.small-block {
  max-width: 600px;
  margin: 0 auto;
}
