.navbar-item-customiser a {
  color: white;
}

.footer-customiser {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #a4b8c4;
  bottom: 0;
  padding-top: 23px;
  padding-bottom: 5px;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-prix {
  font-size: 15px;
  font-weight: bold;
}

.product-item {
  margin-top: 70px;
}

.product-container {
  margin-bottom: 130px;
}
.product-seul {
  font-size: 25px;
}
